<% provide(:title, 'EVNT Buzz!') %>
<% @user = User.take %>
<div class="container-fluid allpages">
  <div class="row page-deco">
    <div class="col-xs-12 message-frame">
      <h3 class="below_nav">Give a Shout Out!</h3>
      <h4 id='chatroom_title'></h4>
      <%= form_for @message, layout: :inline, remote: true do |f| %>
      <div style="display:none">
        <%= hidden_field_tag :socket_id %>
      </div>
      <br>
      <section id='set-messages'>
        <%= render 'history' %>


        <section class="messages">

        </section>
        <br><br><br><br><br><br><br><br><br><br>
      </section>
    </div>
  </div>
</div>

      <div class='fixmsgsend'>
        <!-- <div class='container-fluid' style='text-align: center'> -->
          <!-- <div class='row text_group'> -->
            <div class="col-xs-9">
              <div class='whitebg'>
                <%= f.text_area :message, placeholder: "Type your messages here", :size => "75x10" %>
                <%= f.hidden_field :name, value: current_user.name %>
                <%= f.hidden_field :avatar, value: current_user.avatar_url(:thumb) %>
              </div>
            </div>
            <!-- <div class="col-xs-3"> -->

              <button type="submit" class="btn send-btn">
                <i class="fa fa-commenting"></i>
              </button>


            <% end %>
            </div>
        <!-- </div> -->
      <!-- </div> -->

<script type="text/javascript">
  $("html,body").scrollTop(55);
</script>
