<% provide(:title, @user.name) %>
<div class="container-fluid allpages">

  <div class="row">
    <div class="col-xs-12 message-frame">
      <section class="user_info">
        <br><br>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
          <% end %>

          <br>
        <div class='profilepic'>
          <!-- This is where profile pic will go -->
        <%= image_tag(@user.avatar_url(:profile_avatar), :size => '204x204')%>
        </div>
        <h1 id='userpage_name'>
          <%= @user.name %>
        </h1>

        <br>
        <table class='table table_bio'>
          <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="fa fa-envelope"></i></td>
            <td><b>Email:</b></td>
            <td><%= @user.email %></td>
          </tr>

          <tr>
            <td><i class="fa fa-beer"></i></td>
            <td><b>Reason for Attending:</b></td>
            <td><%= @user.herefor %></td>
          </tr>

          <tr>
            <td><i class="fa fa-github-alt"></i></td>
            <td><b>Github Profile:</b></td>
            <td><a href="https://www.github.com/<%= @user.githublink %>">github.com/<%= @user.githublink %></a></td>
          </tr>

          <tr>
            <td><i class="fa fa-user"></i></td>
            <td><b>Portfolio:</b></td>
            <td><a href="https://<%= @user.portfoliolink %>"><%= @user.portfoliolink %></a></td>
          </tr>

        </div>

      </tbody>
      </table>
        <% if current_user == @user %>
          <%= link_to "Edit", edit_user_path, class: "btn checkin", method: :get%>
        <% end %>
      </section>
    </div>
  </div>
</div>
