<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <br>
      <br><br><br><br>
      <h1>
        <%= @user.name %>
      </h1>

      <div>
        Reason for attending:
        <%= @user.herefor %><br>
        Email:
        <%= @user.email %><br>
        Github Profile:
        <a href="https://www.github.com/<%= @user.githublink %>">github.com/<%= @user.githublink %></a><br>
        Portfolio:
        <a href="https://<%= @user.portfoliolink %>"><%= @user.portfoliolink %></a><br>
      </div>

    </section>
  </aside>
</div>
