<% provide(:title, 'EVNTLR') %>

<div class="container-fluid allpages">
  <div class="row page-deco">
    <div class="col-xs-12 message-frame">
      <br>
      <a href="//www.wyncode.co"><h1>Wyncode!</h1></a>
      #LEARNTOCODE <br>
      <hr>

      <h1>Teams</h1>
      Teams are in order of pitch night.<br>
      Each team name is a link to their website! <br>
      Each team member name is a link to their EVNTLR profile!
      <hr>


      <a href="//www.evntlr.com"><h3>EVNTLR</h3></a>
      <p>EVNTLR is a platform set out to change the way we network. Network smarter with EVNTLR!</p>

      <h4>Team Members:</h4>
      <p>
        <ul style="list-style-type:disc">
          <li><%= link_to 'Jake Jacobson', '/users/38' %></li>
          <li><%= link_to 'Keith Tang', '/users/13' %></li>
          <li><%= link_to 'Paul Smailis', '/users/35' %></li>
        </ul>
      </p>
      <hr>


      <a href="https://protected-earth-6981.herokuapp.com/"><h3>GoodAdmissions</h3></a>
      <p>Dashboard to track payments, performance and availability of wyncode cohorts.</p>

      <h4>Team Members:</h4>
      <p>
        <ul style="list-style-type:disc">
          <li><%= link_to 'Diego Lugo', '/users/18' %></li>
          <li><%= link_to 'Jorge Naranjo', '/users/16' %></li>
          <li><%= link_to 'Glen Langdon', '/users/23' %></li>
        </ul>
      </p>
      <hr>


      <a href="http://www.tutrd.com/"><h3>Tutrd</h3></a>
      <p>On demand tutoring service.</p>

      <h4>Team Members:</h4>
      <p>
        <ul style="list-style-type:disc">
          <li><%= link_to 'Tyler Yagman', '/users/42' %></li>
          <li><%= link_to 'Todd Schwartzfarb', '/users/45' %></li>
          <li><%= link_to 'Mary Gualtieri', '/users/43' %></li>
        </ul>
      </p>
      <hr>


      <a href="https://trndy.herokuapp.com/"><h3>Trndy</h3></a>
      <p>Helps you find the most popular clubs/bars with current reviews.</p>

      <h4>Team Members:</h4>
      <p>
        <ul style="list-style-type:disc">
          <li><%= link_to 'Patricio de la Guardia', '/users/36' %></li>
          <li><%= link_to 'German Nieto', '/users/19' %></li>
        </ul>
      </p>
      <hr>


      <a href="http://www.theserviceworks.co/"><h3>Service Works</h3></a>
      <p>Service works connects customers seeking home improvement assistance with local service professionals.</p>

      <h4>Team Members:</h4>
      <p>
        <ul style="list-style-type:disc">
          <li><%= link_to 'Alex Miller', '/users/21' %></li>
          <li><%= link_to 'Stephanie Reyes', '/users/9' %></li>
          <li><%= link_to 'Chris Morse', '/users/44' %></li>
        </ul>
      </p>
      <hr>


      <a href="#"><h3>Hootie-Hoo!</h3></a>
      <p>DESCRIPTION</p>

      <h4>Team Members:</h4>
      <p>
        <ul style="list-style-type:disc">
          <li><%= link_to 'Eric Litow', '/users/21' %></li>
          <li><%= link_to 'Beatriz Bustamante', '/users/9' %></li>
          <li><%= link_to 'Stefani Kaufman', '/users/41' %></li>
        </ul>
      </p>
      <hr>


      <a href="#"><h3>PikTrail</h3></a>
      <p>DESCRIPTION</p>

      <h4>Team Members:</h4>
      <p>
        <ul style="list-style-type:disc">
          <li><%= link_to 'Dominique Miller', '/users/39' %></li>
          <li><%= link_to 'Amanda Mar Rissler', '/users/9' %></li>
          <li><%= link_to 'Jim Disser', '/users/9' %></li>
        </ul>
      </p>
      <br><br><br><br><br><br><br><br><br>






    </div>
  </div>
</div>
