<% provide(:title, 'Wyncode FLL CO3 Pitch Night') %>
<div class="container-fluid allpages">
  <div class="row page-deco">
    <div class="col-xs-12 message-frame">

      <h3 class="below_nav">SCHEDULE OF EVENTS</h3>
      <%= form_for @schedulemessage, layout: :inline, remote: true do |f| %>
        <div style="display:none">
          <%= hidden_field_tag :socket_id %>
        </div>
        <br>
        <section id='set-messages'>
          <%= render 'schedule_history' %>


          <section class="schedule_messages">


          </section>
          <br><br><br><br><br><br><br><br>

        </section>
        <% if current_user.admin? %>
          <div class='row text_group'>
            <div class="col-xs-9">
              <%= f.text_area :message, placeholder: "Type your messages here"%>
              <%= f.hidden_field :name, value: current_user.name %>
              <%= f.hidden_field :avatar, value: current_user.avatar_url(:thumb) %>
            </div>
            <div class="col-xs-3">
              <button type="submit" class="btn send-btn">
                <i class="fa fa-commenting"></i>
              </button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
