<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= yield :title %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <script src="//js.pusher.com/3.0/pusher.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <div id="container">
    <div id="canvas">
      <div id="nav">
        <!-- <h2 id="title"><i class="fa fa-sitemap"></i> MENU</h2> -->
        <ul id="toggle">
          <li>
            <div class="active border">
              <br>
              <%= link_to 'Profile', current_user, method: :get%>
              <span id="profile"><i class="fa fa-2x fa-child"></i></span>
            </div>
          </li>
          <li>
            <div>
              <%= link_to 'About us ', pages_aboutus_path, method: :get%>
              <span id="about_us"><i class="fa fa-2x fa-info"></i></span>
            </div>
          </li>
          <li>
            <div>
              <%= link_to 'Wyncode ', pages_index_path, method: :get%>
              <span id="menu-icon"><i class="fa fa-2x fa-code"></i></span>
            </div>
          </li>
          <li>
            <div>
              <%= link_to 'Log out   ', logout_path, method: :delete%>
              <span id="menu-icon"><i class="fa fa-2x fa-sign-out"></i></span>
            </div>
          </li>
        </ul>
      </div>
      <!-- nav -->
      <header id="toolbarnav">
        <div class="col-xs-4">
          <a href="#" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>
        </div>
        <div class="col-xs-4" id="logo">
            <img src="/assets/brand-logo.png" >
        </div>
        <div class="col-xs-4 "></div>
      </header>
      <section id="content" class="clearfix">
        <!-- <%# render 'layouts/header' %> -->
        <%= yield %>
          <%= render 'layouts/footer' %>
      </section>
    </div>
    <!-- canvas -->
  </div>
  <!-- container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>
