<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Evntlr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <script src="//js.pusher.com/3.0/pusher.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <div id="w">

    <div id="pagebody">
      <header id="toolbarnav">
        <div class="col-xs-4" id="menu-btn">
          <a href="#navmenu">
            <span><i class="fa fa-3x fa-bars"></i></span>
          </a>
        </div>
        <div class="col-xs-4" id="logo">
          <a href="root_path">
            <img src="/assets/brand-logo.png" />
          </a>
        </div>
        <div class="col-xs-4 "></div>

      </header>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
        <% end %>

          <section id="content" class="clearfix">
            <!-- <%# render 'layouts/header' %> -->
            <%= yield %>
              <%= render 'layouts/footer' %>
          </section>
    </div>
    <div id="navmenu">

      <ul>
        <li>
          <%= link_to "Home", root_path, class: "navlink", method: :get%>
        </li>
        <li>
          <%= link_to "Profile", users_path, class: "navlink", method: :get%>
        </li>
        <li>
          <%= link_to "About Us", root_path, class: "navlink", method: :get%>
        </li>
        <li>
          <%= link_to "Wyncode", new_user_path, class: "navlink", method: :get%>
        </li>
        <li>
          <%= link_to "Log out", logout_path, class: "navlink", method: "delete"%>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>
