<!DOCTYPE html>
<html>
<head>
  <title>Evntlr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
</head>
<body>
  <%= render 'layouts/header' %>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>
  <!-- <%= debug(params) if Rails.env.development? %> -->

</body>
</html>
